/* Navbar*/
header {
    text-align: center;
    background: #f8f8f8;
}

nav ul {
    list-style: none;
    padding: 0; 
    display: flex;
    justify-content: center;

}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color:#707070;
    font-weight: 700;
}

nav a:hover, nav a:focus {
    color: #1792d2;
    border-bottom: 2px solid #707070;
}

/*NavBar Typography*/
.subtitle {
    font-weight:700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}



/*body*/
body {
    font-size: 1.125rem;
    color: #707070; 
    margin: 0;
    font-family: 'Lora', sans-serif;
}

/*Typography*/

h1{
    font-size: 3rem;
    color: #212514;
    text-align:center;
    margin: 0;
}

h1 span{
    color: #b7832f;
}
/* Layout */
img{
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    align-items: flex-start;
    margin: 1em 0;
    justify-content: space-between;
}

.col-1{
    width: 20%;
}

.col-2{
    width: 45%;
}

.col-3{
    width: 70%
}



.col-bg {
    background: #212514;
    padding: 1em;
    color: #fff
}

  @media (max-width: 600px) {
      /* switching the axis around...*/

    .columns {
        flex-direction:column;
    }
    
    /*this position is ideal for this query because it will
 have been overwritten by the .col defs if it had been
  put above them*/
    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}